[components]

# fields:
# - name:  name of the component as used in the graph definition
# - crate:  for crate-based components just the crate name (files should be placed in components/... or redirected in Cargo.toml), for module-based components "components::modulename" (files placed in src/components/modulename.rs)
# - struct:  name of the struct implementing the component (should be in the specified crate or module)
# - log_ignore (optional, list of crate names to ignore logs from when this component is instantiated)

[[components.entry]]
name = "Repeat"
crate = "flowd-repeat"
struct = "RepeatComponent"

[[components.entry]]
name = "Drop"
crate = "flowd-drop"
struct = "DropComponent"

[[components.entry]]
name = "Output"
crate = "flowd-output"
struct = "OutputComponent"

[[components.entry]]
name = "LibComponent"
crate = "flowd-libcomponent"
struct = "LibComponent"

[[components.entry]]
name = "UnixSocketServer"
crate = "flowd-unixsocket"
struct = "UnixSocketServerComponent"

[[components.entry]]
name = "UnixSocketClient"
crate = "flowd-unixsocket"
struct = "UnixSocketClientComponent"

[[components.entry]]
name = "FileReader"
crate = "flowd-file"
struct = "FileReaderComponent"

[[components.entry]]
name = "FileWriter"
crate = "flowd-file"
struct = "FileWriterComponent"

[[components.entry]]
name = "FileTailer"
crate = "flowd-file"
struct = "FileTailerComponent"

[[components.entry]]
name = "Trim"
crate = "flowd-trim"
struct = "TrimComponent"

[[components.entry]]
name = "SplitLines"
crate = "flowd-splitlines"
struct = "SplitLinesComponent"

[[components.entry]]
name = "Count"
crate = "flowd-count"
struct = "CountComponent"

[[components.entry]]
name = "Cron"
crate = "flowd-cron"
struct = "CronComponent"

[[components.entry]]
name = "Cmd"
crate = "flowd-cmd"
struct = "CmdComponent"

[[components.entry]]
name = "Hasher"
crate = "flowd-hasher"
struct = "HasherComponent"

[[components.entry]]
name = "Equals"
crate = "flowd-equals"
struct = "EqualsComponent"

[[components.entry]]
name = "HTTPClient"
crate = "flowd-http"
struct = "HTTPClientComponent"
log_ignore = ["hyper"]

[[components.entry]]
name = "HTTPServer"
crate = "flowd-http"
struct = "HTTPServerComponent"
log_ignore = ["hyper"]

[[components.entry]]
name = "Muxer"
crate = "flowd-muxer"
struct = "MuxerComponent"

[[components.entry]]
name = "MQTTPublisher"
crate = "flowd-mqtt"
struct = "MQTTPublisherComponent"
log_ignore = ["rumqttc"]    # //TODO optimize - unfortunately the rumqttc crate sends debug! about PingReq every few seconds in https://github.com/bytebeamio/rumqtt/blob/0266b85bd5986f556b3eaedc806c964e906232b8/rumqttc/src/state.rs#L416 and https://github.com/bytebeamio/rumqtt/blob/0266b85bd5986f556b3eaedc806c964e906232b8/rumqttc/src/v5/state.rs#L589 and https://github.com/bytebeamio/rumqtt/blob/0266b85bd5986f556b3eaedc806c964e906232b8/rumqttc/src/state.rs#L357

[[components.entry]]
name = "MQTTSubscriber"
crate = "flowd-mqtt"
struct = "MQTTSubscriberComponent"
log_ignore = ["rumqttc"]

[[components.entry]]
name = "RedisPublisher"
crate = "flowd-redis"
struct = "RedisPublisherComponent"

[[components.entry]]
name = "RedisSubscriber"
crate = "flowd-redis"
struct = "RedisSubscriberComponent"

[[components.entry]]
name = "IMAPAppend"
crate = "flowd-imap"
struct = "IMAPAppendComponent"

[[components.entry]]
name = "IMAPFetchIdle"
crate = "flowd-imap"
struct = "IMAPFetchIdleComponent"

[[components.entry]]
name = "OpenAIChat"
crate = "flowd-openai"
struct = "OpenAIChatComponent"
log_ignore = ["reqwest", "hyper"]

[[components.entry]]
name = "TeraTemplate"
crate = "flowd-template"
struct = "TeraTemplateComponent"

[[components.entry]]
name = "RegexpExtract"
crate = "flowd-regexp"
struct = "RegexpExtractComponent"

[[components.entry]]
name = "TextReplace"
crate = "flowd-text"
struct = "TextReplaceComponent"

[[components.entry]]
name = "ZeroconfResponder"
crate = "flowd-zeroconf"
struct = "ZeroconfResponderComponent"
log_ignore = ["mdns_sd"]

[[components.entry]]
name = "ZeroconfBrowser"
crate = "flowd-zeroconf"
struct = "ZeroconfBrowserComponent"
log_ignore = ["mdns_sd"]    #TODO optimize - unfortunately the mdns-sd crate sends many debug! about mDNS packets, which are not of much interest. the mdns crate itself does not have a log level setting  //TODO optimize - note these mDNS events debug logs are sent when loglevel is info or higher, so filter is not necessary in release builds - any way to remove it from realese builds?

[[components.entry]]
name = "XzCompress"
crate = "flowd-xz"
struct = "XzCompressComponent"

[[components.entry]]
name = "XzDecompress"
crate = "flowd-xz"
struct = "XzDecompressComponent"

[[components.entry]]
name = "BrotliCompress"
crate = "flowd-brotli"
struct = "BrotliCompressComponent"

[[components.entry]]
name = "BrotliDecompress"
crate = "flowd-brotli"
struct = "BrotliDecompressComponent"

[[components.entry]]
name = "HTMLStrip"
crate = "flowd-html"
struct = "HTMLStripComponent"

[[components.entry]]
name = "HTMLQuery"
crate = "flowd-html"
struct = "HTMLQueryComponent"

[[components.entry]]
name = "WSClient"
crate = "flowd-ws"
struct = "WSClientComponent"

[[components.entry]]
name = "WSServer"
crate = "flowd-ws"
struct = "WSServerComponent"

[[components.entry]]
name = "TCPClient"
crate = "components::tcp"
struct = "TCPClientComponent"

[[components.entry]]
name = "TLSClient"
crate = "components::tls"
struct = "TLSClientComponent"
log_ignore = ["rustls"] #TODO optimize - unfortunately the rustls sends debug! about session parameters etc. on connection establishment

[[components.entry]]
name = "TCPServer"
crate = "components::tcp"
struct = "TCPServerComponent"

[[components.entry]]
name = "TLSServer"
crate = "components::tls"
struct = "TLSServerComponent"
log_ignore = ["rustls"]

[[components.entry]]
name = "JSONQuery"
crate = "components::json"
struct = "JSONQueryComponent"

[[components.entry]]
name = "SSHClient"
crate = "components::ssh"
struct = "SSHClientComponent"
log_ignore = ["ssh"]    #TODO optimize - sends many info messages about SSH connection establishment etc. - how to disable that if not needed?

[[components.entry]]
name = "TelegramBot"
crate = "components::telegram"
struct = "TelegramBotComponent"
#TODO optimize - reqwest logs some messages about opening connections etc. in TelegramBotComponent
#TODO optimize - debug messages about reading and writing HTTP headers etc. in TelegramBotComponent
#TODO optimize - sends some messages about the Telegram API in TelegramBotComponent
log_ignore = ["reqwest", "hyper", "teloxide"]

[[components.entry]]
name = "MatrixClient"
crate = "components::matrix"
struct = "MatrixClientComponent"
log_ignore = ["matrix_sdk"] #TODO optimize - this sends alot of messages about Matrix protocol messages, can this be shut off "at the source"?
